body {
  background-color: #CCC8BF;
}

.icon {
  margin-right: 3px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
}

.adjust {
  margin-right: 900px;
  margin-top: 20px;
}

.title {
  margin-bottom: 30px;

}

.volume {
  margin-top: 30px;
}

.volume_text {
  margin-top: 40px;
  margin-right: 5px;

}

.bulb {
  margin-top: 20px;
  width: 100px;
  height: 30%;
}

.living-room {
  margin-top: 20px;
  font-size: 20px;
}

.weather {
  height: 70px;
  display: flex;
  width: 70px;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #b4b0a6;
  overflow-x: hidden;
  padding-top: 20px;
}

.content {
  margin-left: 200px;
  /* Same as the width of the sidenav */
}

.sticky {
  background-color: #fff7d1 !important;
}