body {
  background-color: #212529;
}

.beige {
  background-color: #CCC8BF;
}

.sticky {
  background-color: #fff7d1 !important;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.sidebarbtn {
  text-align: right;
  width: 100%;
  background-color: #CCC8BF;
  font-weight: 500;
  border: #CCC8BF;
  color: black;
  display: flex;
  gap: 27%;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  width: 13%;
  height: 100% !important;
  padding-top: 20px;
  background-color: #CCC8BF;
  overflow-x: hidden;
}

.content-closed {
  margin-left: 4.2%;
  transition: margin-left .5s;
}

.content-open {
  margin-left: 14%;
  transition: margin-left .5s;
}

.content {
  width: 99%;
  height: 100%;
}

.high-font {
  font-size: large;
}

.low-font {
  font-size: medium;
  color: rgb(153, 153, 153);
}

.newsfeed {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
}

.newscolor {
  background-color: rgb(41, 49, 57);
}

.link {
  text-decoration: none !important;
}